footer {
    background-color: #72767e;
    padding: 50px 0 50px 0;
}

.footer-text {
    color: white;
    text-decoration: none;
}
#line-blue {
    background-color:  #5b94f7;
    height: 2px;
    width: 100%;
}

hr {
    background-color: red;
    height: 2px;
    border-top: none;
}
ul {
    list-style-type: none;
}
.list-item {
    color: white;
    text-decoration: none;
}

.list-item:hover {
    color: black;
    text-decoration: none;
}
